/* sets background image and default text for webpage */
html {
    background-image: url('images/stardust.jpg');
    font-family: monospace;
}

div {
    display: flex;
}

#contents {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 64em
}

/* formats the title & subtitle of the webpage */
h1, h2 {
    text-align: center;
    margin-top: 1em;
    color: white    
}

/* sets formatting for all game-related text */
p {
    padding-left: 2em;
    padding-right: 2em; 
    color: black
}

/* sets formatting on the 16:9 storyBox */
#storyBox {
    position: relative;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 36em;
    width: 64em;
    background-color: ghostwhite;
    opacity: 0.2;
    box-shadow: 0 0 10px #777777;
    overflow: hidden
}

/* formats the textBox, a subset of the storyBox */
#textBox {
    color: black;
    display: block;
    overflow: scroll
}

/* sets formatting on the inputBox ... same as storyBox, but shorter */
#inputBox {
    margin-top: 0.8em;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    width: 64em;
    display: inline-block;
    background-color: ghostwhite;
    opacity: 0.2;
    box-shadow: 0 0 10px #777777;
    overflow: hidden
}

/* sets formatting on the form used for user input */
#inputText {
    margin-left: 1em;
    margin-top: 0.4em;
    height: 2em;
    width: 60em;
    border: none;
    font-family: monospace;
    
}

/* sets formatting on the startButton */
#beginButton {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FA6D68;
    transition: background-color 0.5s ease;
    border: none;
    color: white;
    width: 8em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16px
}

/* sets formatting on the resetButton, the same as the startButton */
#resetButton {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FA6D68;
    transition: background-color 0.5s ease;
    border: none;
    color: white;
    width: 8em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16px
}

#healthBox {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    opacity: 0.2;
    box-shadow: 0 0 10px #777777;
    color: black;
    width: 11.4em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#keyBox {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    opacity: 0.2;
    box-shadow: 0 0 10px #777777;
    color: black;
    width: 11.4em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#placeholderBox1 {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    opacity: 0.2;
    box-shadow: 0 0 10px #777777;
    color: black;
    width: 11.4em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#copyright {
    text-align: right;
    font-family: sans-serif;
    font-size: 10px;
    color: lightgrey
}

/* CSS rule for rendering Google Material Icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size is 24px */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* defines the blink animation for the underscore */
@keyframes blink     {
    to {opacity: 0.0;}
}

button:hover {
    background-color: #7DCC93 !important;
    cursor: pointer;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    background: transparent
}